<!DOCTYPE html>
<html lang="es">

<body>
<h1>Conoce más</h1>

<div class= "informacion">
<p>Como se leyó en la página principal, un tablero de kanban es una herramienta ágil de gestión de proyectos diseñada para ayudar a visualizar el trabajo, limitar el trabajo en curso y maximizar la eficiencia (o el flujo). Puede ayudar tanto a los equipos ágiles como a los de DevOps a definir el orden de su trabajo diario. Los tableros de kanban utilizan tarjetas, columnas y la mejora continua para ayudar a los equipos tecnológicos y de servicios a comprometerse con la cantidad de trabajo adecuada y, por supuesto, a llevarla a cabo. </p>
  <%= image_tag('agile-pm-kanban-board.png', alt: "tablero Kanban")%> <br>
  <em>"Kanban" es una palabra japonesa que significa "señal visual".</em> 
  <p>&nbsp;</p>


<div class= "elementos">
    <h3>Elementos de un tablero kanban</h3>
    <p>David Anderson estableció que los tableros de kanban se pueden dividir en cinco componentes: señales visuales, columnas, límites del trabajo en curso, un punto de compromiso y un punto de entrega.</p>
    <%= image_tag('Elements.png', alt: "elementos de tablero Kanban")%>
</div>
    <p>&nbsp;</p>

<div class= "contacto">
    <h3>Siguenos en nuestras redes sociales:</h3>

<p>
  <%= link_to 'Twitter', 'https://twitter.com/', target: '_blank'  %>.
</p>
<p>
  <%= link_to 'Facebook', 'https://facebook.com/', target: '_blank'  %>.
</p>
<p>
  <%= link_to 'Instagram', 'https://instagram.com/', target: '_blank'  %>.
</p>

</div>




</body>
</html>
